.footer-container {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 64px;
}

.footer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.footer-title {
    font-size: 3.95rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer-subtitle {
    font-size: 1.5rem;
}