.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    mix-blend-mode: difference;
    color: white;
    z-index: 2;
}

.header-body {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.header-links {
    font-size: 1.45rem;
    font-weight: 400;
}

.header-link {
    margin-left: 64px;
    cursor: pointer;
    position: relative;
    color: white;
    text-decoration: none;
}

.header-name {
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 0px;
}

.header-link:before {
    mix-blend-mode: difference;
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: all 0.5s ease;
    transform-origin: left;
}

.header-link:hover:before {
    width: 100%;
    right: 0;
}