  .container {
    position: relative;
    width: 100%;
    height: 200vh;
    overflow: hidden;
  }

  .container a {
    text-decoration: none;
  }
  
  .light-section {
    height: 100vh;
    background-color: white;
  }

  .top-text {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    color: black;
    font-size: 1.5rem;
    transition: opacity 0.5s ease;
  }

  .hand-icon {
    margin-top: 12px;
    height: 64px;
    width: 64px;
    transform: rotate(-30deg);
    animation-name: rotateAnimation;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes rotateAnimation {
    0% {
      transform: rotate(-30deg);
    }
    10% {
      transform: rotate(-45deg);
    }
    20% {
      transform: rotate(-30deg);
    }
    30% {
      transform: rotate(-45deg);
    }
    40% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(-30deg);
    }
  }
  
  .dark-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black; 
    opacity: 0; 
    transition: opacity 0.5s ease;
  }

  .bottom-text {
    display: none;
    position: absolute;
    bottom: 41%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: white;
    font-size: 1.5rem;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }

  
  .second-sequence {
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: fadeIn 0.5s ease 1.5s forwards;
  }
  
  .third-sequence {
    opacity: 0;
    transition: all 0.5s ease;
    animation: fadeIn 0.5s ease 3s forwards;
  }

  .fourth-sequence {
    opacity: 0;
    transition: all 0.5s ease;
    animation: fadeIn 0.5s ease 4.5s forwards;
    pointer-events: none;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      pointer-events: all;
    }
  }

  .visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
  }

  .invisible {
    opacity: 0;
  }