.works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
}

.works-container a {
    color: black;
    text-decoration: none;
}

.works-body {
    width: 85%;
    margin-top: 100px;
    opacity: 0;
    transform: rotateX(70deg);
    animation: fadeIn 1.25s ease .25s forwards;
}

.works-title {
    font-size: 11rem;
    font-weight: 700;
    opacity: 0;
    animation: fadeIn 1.25s ease .25s forwards;
    margin-bottom: 12px;
    width: 50%;
}

.works-subtitle {
    width: 60%;
    font-size: 2.3rem;
}

.works-link {
    color: black;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-style: italic;
}

.works-link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: black;
    transition: all 0.5s ease;
    transform-origin: left;
}

.works-link:hover:before {
    width: 100%;
    right: 0;
}

.works-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.grid-column, .work-grid-item {
    display: flex;
    flex-direction: column;
}

.left-column, .right-column {
    width: 49%;
}

.work-grid-item {
    margin-bottom: 36px;
    cursor: pointer;
}

.grid-item-image {
    background-color: black;
    border: 1px solid black;
    height: 95%;
}

.grid-item-tall {
    height: 650px;
}

.grid-item-short {
    height: 500px;
}

.grid-item-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-size: 2rem;
}

.arrow-icon {
    height: 36px;
    width: 36px;
}

.title-text {
    position: relative;
}

.title-text:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: black;
    transition: all 0.5s ease;
    transform-origin: left;
}

.work-grid-item:hover .title-text:before {
    width: 100%;
}

#where-in-the-world {
    background-image: url('../images/country-api-home.png');
    background-position: center;
    background-size: cover;
}

#archive {
    background-image: url('../images/archive-thumbnail.PNG');
    background-size: cover;
}

#weather-app {
    background-image: url('../images/weather-app-thumbnail.PNG');
    background-size: cover;
}

#cody-portfolio {
    background-image: url('../images/codygilbert.PNG');
    background-size: cover;
}

@media (max-width: 768px) {
    .works-title {
        font-size: 4rem;
        width: 100%;
    }

    .works-subtitle {
        width: 100%;
    }

    .works-grid {
        flex-direction: column;
    }

    .grid-column {
        width: 100%;
    }

    #where-in-the-world-title {
        font-size: 1.7rem;
    }
}

@media (min-width: 1600px) {
    .works-body {
        width: 65%;
    }
}